.header {
  padding:  3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2 {
  text-align: center;
}

.darkmode {
  color: #fff;
  background-color: #0d1117;
}
.choose {
  margin: 20px;
}

.options {
  display: flex;
  justify-content: center
}

.gumbek {
  display: flex;
  justify-content: center;
  margin: 3%;
}
hr {
  width: 50%;
  margin: 0 auto;
}

.text {
  text-align: center;
  margin: 10px 0;
}
.password {
  margin: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.warning {
  text-align: center;
  color: red;
  font-size: 15px;
}

.lenght {
  text-align: center;
}

.buttons {
  margin: 0 5%;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}


/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
